{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    {{ title }}
{% endblock %}

{% block error %}
{% endblock %}

{% block main %}
    <style>
        .barcodepackagingslip .amount_to_paid {
            font-weight: bold;
            color: red;
        }
        .barcodepackagingslip .order_paid {
            color: green;
        }
        .barcodepackagingslip .order_not_paid {
            color: red;
        }
        .in-stock {
            color: green;
        }
        .out-of-stock {
            color: red;
        }
    </style>
    <div class="tl_listing_container barcodepackagingslip">
        {%  if messages %}{{ messages|raw }}{%  endif %}
        {% if packagingSlip %}
            <div class="widget">
                <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                    <tr>
                        <th style="width: 20%;">{{ lang.shipping_id.0 }}</th>
                        <td>{{ shippingMethod.label }}</td>
                    </tr>
                    {%  if shippingMethodNote %}
                    <tr>
                        <th style="width: 20%;"></th>
                        <td><br />{{ shippingMethodNote|raw }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th style="width: 20%;">{{ lang.order_id.0 }}</th>
                        <td>{{ packagingSlip.orderDocumentNumbers }}</td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">{{ lang.status.0 }}</th>
                        <td>{{ packagingSlip.statusLabel }}</td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">{{ lang.shipping_date.0 }}</th>
                        <td>{{ shippingDate }}</td>
                    </tr>
                    <tr>
                        <th style="width: 20%;"></th>
                        <td><br/>{{ packagingSlip.generateAddress|raw }}</td>
                    </tr>
                    <tr>
                        <th style="width: 20%;"></th>
                        <td><br />
                            {% for order in orders %}
                                {% if not order.paid %}
                                    <p class="order_not_paid">{{ 'IsotopePackagingSlipBarcodeScannerBundle.OrderNotPaid'|trans({'%s': order.document_number}, 'contao_default') }}</p>
                                {% else %}
                                    <p class="order_paid">{{ 'IsotopePackagingSlipBarcodeScannerBundle.OrderPaid'|trans({'%s': order.document_number}, 'contao_default') }}</p>
                                {% endif %}
                            {% endfor %}
                            {% if amount_to_paid %}
                                <p class="amount_to_paid">{{ 'IsotopePackagingSlipBarcodeScannerBundle.AmountToPaid'|trans({'%s': amount_to_paid}, 'contao_default') }}</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <br/><br/>

                <table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                    <tr>
                        <th style="width: 20%; text-align: left;">
                            <strong>{{ lang_msc.PackageSlipProductIdSku }}</strong></th>
                        <th style="width: 10%; text-align: left;">
                            <strong>{{ isotopePackagingSlipBarcodeScannerAccountTitle(packagingSlip.credit_account) }}</strong></th>
                        <th style="width: 70%; text-align: left;">
                            <strong>{{ lang_msc.PackageSlipProductIdName }}</strong></th>
                    </tr>
                    {% for product in packagingSlip.productsCombinedByProductId %}
                        <tr>
                            <td style="width: 20%;">{{ product.quantity }} x {{ product.product.sku }}</td>
                            <td style="width: 10%;">{{ isotopePackagingSlipBarcodeScannerProductStock(product.product.id, packagingSlip.credit_account, 1, product.quantity)|raw }}</td>
                            <td>{{ product.product.name|raw }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <fieldset class="tl_tbox nolegend">
            <div class="widget w50 clr">
                <h3>{{ form_label(form.document_number) }}</h3>
                {{ form_widget(form.document_number) }}
            </div>
            {% if packagingSlip %}
            <div class="widget w50 clr">
                <h3>{{ form_label(form.shipping_date) }}</h3>
                {{ form_widget(form.shipping_date) }}
            </div>
            {% else %}
                {%- do form.shipping_date.setRendered() -%}
            {% endif %}
            {% for additionalWidget in additional_widgets %}
                {% if packagingSlip %}
                    <div class="widget w50 clr">
                        <h3>{{ form_label(attribute(form, additionalWidget)) }}</h3>
                        {{ form_widget(attribute(form, additionalWidget)) }}
                    </div>
                {% else %}
                    {%- do attribute(form, additionalWidget).setRendered() -%}
                {% endif %}
            {% endfor %}
        </fieldset>

        <div class="clear"></div>
        <div class="tl_formbody_submit">
            <div class="tl_submit_container">
                {{ form_row(form.save) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
    <script type="text/javascript">
        window.addEvent('domready', function () {
          $('form_document_number').set('value', '');
          $('form_document_number').focus();
          $('form_document_number').addEvent('keypress', function (event) {
            if (event.keyCode == 13) {
              $$('form[name=form]').submit();
            }
          });
        });
    </script>
{% endblock %}